nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

nav a:hover{
    color: #eda200;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    padding: 30px 120px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.auto {
    width: 300px;
}